{% extends 'index.html' %}

{% block content %}

<form method="post" class="form-control">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}

    <input type="submit" value="Send" class="btn btn-block btn-success">
</form>


{% load static %}
<div id="chatcontent">
    <img src="{% static 'chat/spinner.gif' %}" alt="Loading..."/>
</div>

<script src="{% static 'chat/jquery-3.6.3.min.js' %}"></script>

<script type="text/javascript">
function updateMsg() {
    console.log('Requesting JSON'); 
    $.getJSON('{% url "chat:get-messages" %}', function(rowz){
        console.log('JSON', rowz);
        $('#chatcontent').empty();
        for (var i = 0; i < rowz.length; i++) {
            arow = rowz[i];
            $('#chatcontent').append('<p>'+arow[0] +
                '<br/>&nbsp;&nbsp;'+arow[1]+"</p>\n");
        }
        setTimeout('updateMsg()', 4000);
    });
}

// Make sure JSON requests are not cached
$(document).ready(function() {
    $.ajaxSetup({ cache: false });
    setTimeout('updateMsg()', 2000);
});
</script>

{% endblock %}