{% extends "base.html" %}

{% block title %}{% if 'update' in request.path %}Update{% else %}Add{% endif %} Author{% endblock %}

{% block content %}
<h3>{% if 'update' in request.path %}Update{% else %}Add{% endif %} Author</h3>
<form method="post" class="form-control">
  {% csrf_token %}
  {% load crispy_forms_tags %}
  {{ form|crispy }}

  <input type="submit" value="{% if 'update' in request.path %}Update{% else %}Add{% endif %} Author!" class="btn btn-block btn-primary"/>
</form>

{% endblock %}