{% extends "base.html" %}

{% block title %}Book List{% endblock %}

{% block content %}

<h1>Book List</h1>
{% if book_list %}


<table class="table table-striped">
  <tbody>
  {% for book in book_list %}
  <tr>
    <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
    <td>{{book.author}}</td>
    {% if request.user.is_staff %}
    <td><a href="{% url 'catalog:book-update' book.id %}" class="btn btn-sm btn-secondary">Edit Book</a></td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>

{% else %}
  <p>There are no books in the library.</p>
{% endif %}

{% endblock %}